{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block header %}SCAS Client Texting Service{% endblock %}

{% block content %}
  <h1></h1>
  <p>This web application demos how we can use a texting service to follow up with clients.</p>

  <p>
    <a class="btn btn-primary btn-xs" href="/client/new">Add a new client</a>
    to see how it works!
  </p>

  {% if clients %}
  <table class="table">
    <thead>
      <th>Client ID</th>
      <th>Name</th>
      <th>Phone number</th>
      <th>Last Contact Time</th>
      <th>Survey?</th>
      <th>Initial Contact?</th>
      <th>Follow Up Time</th>
      <th>Timezone</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for client in clients  %}
        <tr>
          <td>{{ client.client_id}}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.phone_number }}</td>
          <td>{{ client.time }}</td>
          <td>{{ client.survey }}</td>
          <td>{{ client.initial_contact }}</td>
          <td>{{ client.delta }}</td>
          <td>{{ client.timezone }}</td>
          <td>
            <form method="POST" action="{{url_for('client.delete', id=client.id) }}">
              <button type="submit" class="btn btn-danger btn-xs">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="well">
      There are no clients in the database.
    </div>
  {% endif %}

{% endblock %}
